/**

  Use animations here. Useful resources on http://docs.codacloud.net

**/

.head {
  /* TODO */
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0;
}

.body {
  /* TODO */
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0;
}

.left.hand {
  /* TODO */
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0;
}

.right.hand {
  /* TODO */
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0;
}

.left.foot {
  /* TODO */
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0;
}

.right.foot {
  /* TODO */
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0;
}

@keyframes jump {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }
}
